---
import ThemeIcon from './ThemeIcon.astro';
import {CircleUser, Home, Rss, ScrollText, SquareDashedBottomCode} from '@lucide/astro';
import '@/styles/globals.css';

const items = [
	{
		title: 'Home',
		url: '/',
		icon: Home,
	},
	{
		title: 'Projects',
		url: '/projects',
		icon: SquareDashedBottomCode,
	},
	{
		title: 'Resume',
		url: '/resume',
		icon: ScrollText,
	},
	{
		title: 'Blog',
		url: '/blog',
		icon: Rss,
	},
	{
		title: 'About',
		url: '/about',
		icon: CircleUser,
	},
];
---

<div class='flex gap-16 md:gap-10'>
	<a href='/' class='hidden items-center space-x-2 md:flex'>
		<span class='hidden font-bold sm:inline-block'>Alex Westerman</span>
	</a>
	<nav
		class='md:flex group/navigation-menu relative flex max-w-max flex-1 items-center justify-center'>
		<ul class='gap-6 md:gap-10 group flex flex-1 list-none items-center justify-center'>
			{
				items?.map((item) => (
					<li class='relative'>
						<a
							href={item.url}
							class='flex font-medium text-lg transition-colors hover:text-foreground/80 sm:text-sm'>
							<span>{item.title}</span>
						</a>
					</li>
				))
			}
		</ul>
	</nav>
	<!-- <Button
		variant='ghost'
		className='ml-4 flex items-center space-x-2 md:hidden'
		onClick={() => setShowMobileMenu(!showMobileMenu)}>
		{showMobileMenu ? <X /> : <Menu />}
		<span className='font-bold'>Alex Westerman</span>
	</Button> -->
	<!-- {showMobileMenu && <MobileNav closeFn={setShowMobileMenu} items={items} />} -->
	<!-- <Button
		variant='ghost'
		class='ml-4 flex items-center space-x-2 md:hidden'
		onClick={() => setShowMobileMenu(!showMobileMenu)}>
		{showMobileMenu ? <X /> : <Menu />}
		<span class='font-bold'>Alex Westerman</span>
	</Button> -->
	<!-- {showMobileMenu && <MobileNav closeFn={setShowMobileMenu}>{children}</MobileNav>} -->
	<span class='grow'></span>
	<ThemeIcon />
</div>
