---
import type {Project} from '@/lib/types';
import {
	Card,
	CardDescription,
	CardFooter,
	CardTitle,
	CardContent,
	CardHeader,
} from '@/components/ui/card';
import Button from '@/components/Button.astro';
import {AppWindow, CodeXml, Link} from '@lucide/astro';
import {Badge} from '@/components/ui/badge';
import {Image} from 'astro:assets';

interface Props {
	project: Project;
}
const {project} = Astro.props;

const imgAsset = project.projectAsset ? `/img/${project.projectAsset}` : '/img/no_asset.webp';
const width = project.assetWidth ?? 0;
const height = project.assetHeight ?? 0;
const githubLink = project.projectLinks.find((link) => link.linkType === 'github');
const demoLink = project.projectLinks.find((link) => link.linkType === 'demo');
const miscLink = project.projectLinks.find((link) => link.linkType === 'misc');

const ghButtonId = `gh_${project.projectName}`;
const demoButtonId = `demo_${project.projectName}`;
const miscButtonId = `misc_${project.projectName}`;
---

<div
	class='flex min-w-[325px] max-w-[450px] flex-col bg-card text-card-foreground gap-6 rounded-xl border py-6 shadow-sm'
	data-slot='card'>
	<div
		class='@container/card-header grid auto-rows-min grid-rows-[auto_auto] items-start gap-1.5 px-6 has-data-[slot=card-action]:grid-cols-[1fr_auto] [.border-b]:pb-6'
		data-slot='card-header'>
		<div class='leading-none font-semibold' data-slot='card-title'>{project.projectName}</div>
		<CardDescription>{project.projectDescription}</CardDescription>
	</div>
	<CardContent>
		<div class='mb-4 space-x-1'>
			{
				project.projectTags.map((tag) => {
					return <Badge key={tag}>{tag}</Badge>;
				})
			}
		</div>
		<Image
			src={imgAsset}
			width={width}
			height={height}
			class='h-[250px] w-[400px] object-contain'
			alt={project.projectName}
		/>
	</CardContent>
	<div class='my-auto'></div>
	<CardFooter className='flex gap-4'>
		{
			githubLink && (
				<Button
					variant='outline'
					size='icon'
					id={ghButtonId}
					onClick={() => window.open(githubLink.linkURL)}
					aria-label='GitHub Repository'>
					<CodeXml class='h-8 w-8' />
					<span>Source Code</span>
				</Button>
			)
		}
		{
			demoLink && (
				<Button
					variant='outline'
					size='icon'
					id={demoButtonId}
					onClick={() => window.open(demoLink.linkURL)}
					aria-label='Web Demo'>
					<AppWindow class='h-8 w-8' />
					<span>Web Demo</span>
				</Button>
			)
		}
		{
			miscLink && (
				<Button
					variant='outline'
					size='icon'
					id={miscButtonId}
					onClick={() => window.open(miscLink.linkURL)}
					aria-label={miscLink.linkDesc ?? 'Misc Link'}>
					<Link class='h-8 w-8' />
					<span>{miscLink.linkDesc ?? 'Misc Link'}</span>
				</Button>
			)
		}
		<span class='w-full'></span>
	</CardFooter>
</div>

<script>
	document.getElementById();
</script>
