---
import type {Skill} from '@/lib/types';
import resumeData from '@/content/resume.json';
import {Badge} from './ui/badge';

// biome-ignore lint/correctness/noUnusedVariables: <explanation>
const skills: Skill[] = resumeData.skills;
---

<div class='mb-4 space-x-1 space-y-2'>
	{
		skills.map((skill) => {
			let skill_class = '';
			switch (skill.years) {
				case 1:
					skill_class = 'text-md my-auto';
					break;
				case 2:
					skill_class = 'text-lg my-auto';
					break;
				case 3:
					skill_class = 'text-xl my-auto';
					break;
				case 4:
					skill_class = 'text-2xl my-auto';
					break;
				case 5:
					skill_class = 'text-3xl my-auto';
					break;
				case 6:
					skill_class = 'text-4xl my-auto';
					break;
				default:
					'';
			}

			return (
				<Badge key={skill.name} className={skill_class}>
					{skill.name}
				</Badge>
			);
		})
	}
</div>
