---
import {Mail} from 'lucide-react';
import {Twitter, Linkedin, Github, Bluesky} from './ExtraIcons';
import {Button} from './ui/button';
import {Tooltip, TooltipContent, TooltipProvider, TooltipTrigger} from './ui/tooltip';

// biome-ignore lint/correctness/noUnusedVariables: <explanation>
const iconSizeClass = 'h-6 w-6 md:h-10 md:w-10';
---
<div class='flex flex-row items-center gap-8'>
	<div class='mx-auto'></div>
	<TooltipProvider client:visible>
		<Tooltip client:visible>
			<TooltipTrigger asChild>
				<Button
					variant='link'
					className={iconSizeClass}
					size='icon'
					asChild
					onClick={() => window.open('https://twitter.com/_FaceFTW')}>
					<Twitter className={iconSizeClass} />
				</Button>
			</TooltipTrigger>
			<TooltipContent>X (Formerly known as Twitter)</TooltipContent>
		</Tooltip>
		<Tooltip>
			<TooltipTrigger asChild>
				<Button
					variant='link'
					className={iconSizeClass}
					size='icon'
					asChild
					onClick={() => window.open('https://bsky.app/profile/faceftw.dev')}>
					<Bluesky className={iconSizeClass} />
				</Button>
			</TooltipTrigger>
			<TooltipContent>Bluesky</TooltipContent>
		</Tooltip>
		<Tooltip>
			<TooltipTrigger asChild>
				<Button
					variant='link'
					className={iconSizeClass}
					size='icon'
					asChild
					onClick={() => window.open('https://github.com/FaceFTW')}>
					<Github className={iconSizeClass} />
				</Button>
			</TooltipTrigger>
			<TooltipContent>GitHub</TooltipContent>
		</Tooltip>
		<Tooltip>
			<TooltipTrigger asChild>
				<Button
					variant='link'
					className={iconSizeClass}
					size='icon'
					asChild
					onClick={() => window.open('mailto:alex@faceftw.dev')}>
					<Mail className={iconSizeClass} />
				</Button>
			</TooltipTrigger>
			<TooltipContent>Email</TooltipContent>
		</Tooltip>
		<Tooltip>
			<TooltipTrigger asChild>
				<Button
					variant='link'
					className={iconSizeClass}
					size='icon'
					asChild
					onClick={() => window.open('https://www.linkedin.com/in/faceftw')}>
					<Linkedin className={iconSizeClass} />
				</Button>
			</TooltipTrigger>
			<TooltipContent>LinkedIn</TooltipContent>
		</Tooltip>
	</TooltipProvider>

	<div class='mx-auto'></div>
</div>
