---
import {Accordion} from '@radix-ui/react-accordion';

import {ChevronDownIcon} from 'lucide-react';

import {cn} from '@/lib/utils';

interface Props {
	accordionType: 'single' | 'multiple';

}

const {accordionType} = Astro.props;
---

<Accordion data-slot="accordion" type={accordionType}>
  {education.map((edu, index) => (
                    <AccordionItem value={index.toString()} key={edu.name}>
                        <AccordionTrigger>
                            <div className='flex flex-row'>
                                <p>{edu.name} -&nbsp;</p>
                                <p className='text-gray-500'>{edu.graduationDate}</p>
                            </div>
                        </AccordionTrigger>
                        <AccordionContent>
                            <div className='mb-6 px-6'>
                                <h6 className='text-xl underline'>Field of Study:</h6>
                                <p>{edu.degree?.join(', ') + (edu.degreeAddendum ? ` (${edu.degreeAddendum})` : '')}</p>
                                <p hidden={!edu.gpa}>
                                    <strong>Unweighted GPA: </strong>
                                    {edu.gpa?.unweighted},<strong> Weighted GPA: </strong>
                                    {edu.gpa?.weighted}
                                </p>
                                <br />
                                <h6 className='text-xl underline'>Relevant Courses</h6>
                                <ul className='list-disc'>
                                    {edu.relCoursework.map((course) => (
                                        <li key={course}>{course}</li>
                                    ))}
                                </ul>
                                <div hidden={!edu.propCoursework}>
                                    <h6 className='text-xl underline'>Proposed Courses</h6>
                                    <ul className='list-disc'>
                                        {edu.propCoursework?.map((course) => (
                                            <li key={course}>{course}</li>
                                        ))}
                                    </ul>
                                </div>
                            </div>
                        </AccordionContent>
                    </AccordionItem>
                ))}

</Accordion>
